@{ Layout = "~/Views/Shared/_Item_Layout.cshtml";}
<div id="userManageView">
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-success add">新建用户</a>
        </div>
    </div>
    <table class="table table-condensed table-responsive table-hover table-striped">
        <thead>
            <tr>
                <th><h5 class="text-muted text-center">用户编码</h5></th>
                <th><h5 class="text-muted text-center">用户名称</h5></th>
                <th><h5 class="text-muted text-center">部门</h5></th>
                <th><h5 class="text-muted text-center">用户组</h5></th>
                <th><h5 class="text-muted text-center">状态</h5></th>
                <th class="hidden-xs hidden-sm"><h5 class="text-muted text-center">创建时间</h5></th>
                <th class="hidden-xs hidden-sm"><h5 class="text-muted text-center">创建人</h5></th>
                <th class="hidden-xs hidden-sm"><h5 class="text-muted text-center">修改时间</h5></th>
                <th class="hidden-xs hidden-sm"><h5 class="text-muted text-center">修改人</h5></th>
                <th><h5 class="text-muted text-center">操作</h5></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<script>
    require(['Config/UserManage/UserManageView'],function(UserManageView) {
        var userManageView = new UserManageView({
            el: '#userManageView'
        });
    })
</script>